@import "../colors.scss";

#total{
  color: $color2;
  width: 48%;
  display: inline-block;
  margin: auto;
  border-left: 1px solid $color3;
  @media screen and (max-width: 768px) { 
    border-left: 0;
    border-top: 1px solid $color3;
  } 
}

.title {}
.number {
  font-size: 4rem;
 }
