@import "../colors.scss";

#history {
  height: 98%;
  width: 100%;
  padding-top: 2%;
  
  #not-login{
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding-top: 4em;
  }
  
  #chart {
    width: 80%;
    height: 80%;
    background: $color1;
    margin: auto;
  }
  .main {}
}

