@import "colors.scss";

#countdown {
  color: $counter;
  padding: 6rem 2rem;
  .number {
    font-size: 13rem;
    @media screen and (max-width: 768px) {  
      font-size: 8rem;
    }
  }

  .control {
    cursor: pointer;
    color: $color4;
  }
}

