@import "colors.scss";

.header { 
  text-align: left; 
  width: 100%;
  z-index: 1;
  .title {
    letter-spacing: 10px;
    padding: 0.4rem; 
    background: $header-bg; 
    color: $color1; 
    font-size: 12px;
    display: inline-block;
  }
  a {
    color: $color1;
    text-decoration: none;
  }
  .nav {
    display: inline-block;
    margin-left: 1rem;
    a {
      color: $color4;
    }
  }
  .status {
    background: $color3;
    color: $color4;
    font-size: 1.5rem;
    text-align: center;  
    font-weight: 100;
  }
  .login {
    display: inline-block;
    float: right;
    color: white;

    #loginBox {
      button, div {
        cursor: pointer;
        padding: 0.4rem 0.8rem;
        font-size: 1rem;
        color: $color4 !important;
      }
    }
  }
}

#logo {
  width: 15px; 
  vertical-align: sub;
  padding-right: 10px;
}

